@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,800|Lato&display=swap');


/*-----------------------------------
...............HEADER.................
----------------------------------- */
body {
  font-family: 'Poppins', sans-serif;
}
nav {
  height: 125px;
}
nav a {
  text-decoration: none !important;
  color: #282828
}
li:hover {
  color: #24ce7b;
}
/* -----------------------------------
...............LAYOUT.................
----------------------------------- */
.jumbotron {
  background-color: #EAEAEA;
  color: #fff;
  padding: 15rem;
  background-image: url(images/2019Mejuri-10-green.jpg)
}
#about {
  background-color: white;
}
#services {
  background-color: white;
  color: #15C97F;
}
#clients {
  background-color: white;
}
#contact {
  background-color: white;
}
.square {
  width: 55vw;
  height: 55vw;
  border-radius: 5px;
  background-image: url(images/threegirls.jpg);
  background-position: center;
  background-size: cover;
}
.text-block {
  color: #282828;
  width: 80%;
  text-align: center;
  background-color: rgba(255,255,255,0.8);
  padding: 20px;
  border-radius: 5px;
}

/* -----------------------------------
.............TYPOGRAPHY...............
----------------------------------- */
h1 {
  padding: 25px;
  font-weight: 800;
  text-shadow: 2px 2px 30px black, 2px 2px 10px black;
}

h2 {
  color: #24ce7bff;
  font-weight: bolder;
}
h3 {
  color: #282828;
  font-size: 1.5em;
}
h5 {
  color: #546ab2;
  font-weight: bolder;
  margin: auto;
  text-align: center;
  padding-bottom: 20px;
}
h6{
  color: rgba(255, 255, 255, 0.5);
  font-family: "Poppins" ,sans-serif;

}
nav ul li {
  list-style-type: none;
  margin: 0 15px;
  font-weight: 385;
  text-transform: uppercase;
}
p{
  font-family: "Lato", sans-serif;
}

ul p {
  font-weight: 600;
}
/* -----------------------------------
................FOOTER................
----------------------------------- */
footer {
  background-color: #282827;
  margin-top: 8rem;
  padding: 20px 0;
}

footer p {
  color: rgba(255, 255, 255, 0.5);
}

footer div {
  padding: 2px;
}
footer ul{
  list-style: none;
  padding-left: 0;
  padding-top: 20px;
}
ul.footer_list li {
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.8rem;
}

ul.footer_list li a {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 500;
  text-transform: none;
}
ul.footer_list a:hover {
  color: #24ce7bff;
  text-decoration: none;
  list-style: none;
}
footer ul img{
  width: 35px;
  height: 35px;
}
#hero-cta-email {
  height: 50px;
  width: 60%;
}

.hero-cta__form input {
  width: 100%;
  float: left;
  border: none;
  background: rgba(275, 275, 275, 0.9);
  border-radius: 5px;
  padding-left: 1rem;
  font-size: .9rem;
  line-height: 1rem;
  height: 18px;
  font-weight: 400;
  opacity: 1;
  display: block;
  margin-top: 10px;
}

.hero-cta__form input:focus {
  outline: none;
}

.emailsignup {
  font-size: 12px;
  margin-left: 15px;
  height: 40px;
  width: 30%;
  border: none;
  background-color: #546ab2;
  color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
  margin: 15px;
}
/* -----------------------------------
................MISC..................
----------------------------------- */
button {
  font-size: 12px;
  font-weight: 600;
  color: white;
  background-color: #24ce7b;
  border-radius: 5px;
  padding: 8px 20px;
  text-align: center;
  border: none;
}
/* -----------------------------------
...........MEDIA QUERIES..............
----------------------------------- */
@media (min-width: 1270px) {
  .square {
    width: 30vw;
    height: 30vw;
  }
}
