nav {
  height: 125px;
}
footer {
  height: 150px;
  background-color: #282827;
}
.jumbotron {
  background-color: #24ce7bff;
  color: #fff;
}

#services {
  background-color: white;
  color: #15C97F;
}

#services h3 {
  color: #282828;
  font-size: 1.5em;
}

.row {
  padding-bottom: 210px;
}

.form-group {
  margin: 0 auto;
}

div.form-row {
  margin: 0 auto;
}

button.btn {
  margin: 0 auto;
}


h2 {
  color: #24ce7bff;
  font-weight: bolder;
}

h5{
  color: #546ab2;
  font-weight: bolder;
}
