@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,800|Lato&display=swap');


/*-----------------------------------
...............HEADER.................
----------------------------------- */
body {
  font-family: 'Poppins', sans-serif;
}
nav {
  height: 125px;
}
nav a {
  text-decoration: none !important;
  color: #282828
}
li:hover {
  color: #24ce7b;
}
/* -----------------------------------
...............LAYOUT.................
----------------------------------- */
footer {
  height: 150px;
  background-color: #282827;
}
.jumbotron {
  background-color: #EAEAEA;
  color: #fff;
}
#about {
  background-color: white;
}
#services {
  background-color: white;
  color: #15C97F;
}
#clients {
  background-color: white;
}
#contact {
  background-color: white;
}
.square {
  width: 55vw;
  height: 55vw;
  border-radius: 5px;
  background-image: url(images/threegirls.jpg);
  background-position: center;
  background-size: cover;
}
.text-block {
  color: #282828;
  width: 80%;
  text-align: center;
  background-color: rgba(255,255,255,0.8);
  padding: 20px;
  border-radius: 5px;
}
/* -----------------------------------
.............TYPOGRAPHY...............
----------------------------------- */
h1 {
  padding: 25px;
  font-weight: 800;
}

h2 {
  color: #24ce7bff;
  font-weight: bolder;
}
h3 {
  color: #282828;
  font-size: 1.5em;
}
h5 {
  color: #546ab2;
  font-weight: bolder;
  margin: auto;
  text-align: center;
  padding-bottom: 20px;
}
ul li {
  list-style-type: none;
  margin: 0 15px;
  font-weight: 385;
  text-transform: uppercase;
}
p{
  font-family: "Lato", sans-serif;
}

ul p {
  font-weight: 600;
}
/* -----------------------------------
................FOOTER................
----------------------------------- */
footer{
  margin-top: 8rem;
}

/* -----------------------------------
................MISC..................
----------------------------------- */
button {
  font-size: 12px;
  font-weight: 600;
  color: white;
  background-color: #24ce7bff;
  border-radius: 5px;
  padding: 8px 20px;
  text-align: center;
  border: none;
}
/* -----------------------------------
...........MEDIA QUERIES..............
----------------------------------- */
@media (min-width: 1270px) {
  .square {
    width: 30vw;
    height: 30vw;
  }
}
